<!doctype html>
<html>

<head>

    <title>Naslovna</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Tipografija, dizajn, wikipedia">
    <meta name="description" content="Dizajn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--ucitaj css-->
    <style>
        body {
            background: rgb(226, 222, 222);
            background: linear-gradient(90deg, rgb(243, 241, 245, 1) 0%, rgba(240, 241, 245, 1) 39%, rgba(227, 227, 227, 1) 55%, rgba(180, 182, 185, 1) 100%);
            /*background-color:#ecacd9;8*/
            color: #555;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.6em;
            margin: 0 auto;
            text-align: center;

        }


        header,
        nav,
        section {
            width: 700px;
            margin: 0 auto;

        }

        header {
            height: 150px;
            padding-top: 50px;
        }

        nav {

            color: #000;

            padding-top: 20px;

        }

        nav ul {
            padding: 0;
            list-style: none;
        }

        nav li {
            display: inline;
        }

        nav a {
            color: #000;
            text-decoration: none;
            font-size: 18px;
            padding-right: 15px;
        }

        nav a:hover {

            text-decoration: underline;
        }

        hr {
            width: 500px;
        }

        img {

            margin: 50px 1px;
            width: 800px;
        }
    </style>
</head>

<body>

    <header>


        <h1> Naslovna </h1>

        <nav>
            <ul>
                <a href="index.html">Naslovna</a>

                <li><a href="omeni.html">O meni</a>

                <li><a href="radovi.html">Radovi</a>

                <li><a href="kontakt.html">Kontakt</a>

                <li><a href="zanimljivosti.html">Zanimljivosti</a></li>

            </ul>

        </nav>


    </header>

    <hr />

    <div>
        <img src="slika 1/slika 1.jpg">
    </div>

    <section>
        <p> 
            <i>Dobrodošli u moj Univerzum</i> 
        </p>

        <p> Moj Univerzum je prepun boja, preplavljen predivnim i meni uvek dragim ljudima sa kojima obozavam da delim svoja zivotna iskustva. U mom Univerzumu se čuda desavaju svakog dana i verovatno je to ono što me zadivljuje svakog novog jutra. Postoje i uspon i padovi ali to je ono na šta sam pristao kako bih ziveo ovo predivno iskustvo u ovoj vremensko prostornoj realnosti jer, živet ovako dobar život, odrastati i razvijati se u svakom pogledu vredi svakog delića sekunde moje neumorljive pažnje. </p>

        <p> Ono što je jako interesantno za moj Univerzum ili realnost u kojoj sam izabrao da živim jeste činjenica da je svako ko deli svoj život samnom sposoban da <em>Bude, Radi i Ima sve što poželi.</em> Ja sam toga svestan jer sam i sam to iskusio. Ljudi koj me okružuju, te predivne duše, toga verovatno još uvek nisu svesni, ali sam siguran da ta je to još jedan razlog zbog koga sam izabrao ovaj predivan univerzum za istraživanje. </p>

        <p> Svoj Univerzum volim da zovem <em>UNIVERZUM KREACIJE</em> a nas ljude <em>KREATORIMA</em> jer mi sami, izborom svojih misli, organizovanjem naših namera i fokusom na stvari koje nam se dopadaju ili ne privlačimo određene stvari, ljude, događaje, reči i emocije sa kojima se u trenutku slažemo i na taj način selektivno kreiramo realnost u kojoj živimo. Nadam se da sam Vam dobro objasnio pravila svog Univerzuma i da će te se super snaći vi koji čitate jer sigurno delimo životna iskustva u istom Univerzumu. </p>

        <p>U slučaju da niste zapamtili pravila evo kratkog rezimea: Vi kreirate svoju realnost, svoj život; Vi birate šta mislite a samim tim i kako se emocionalno osećate u skladu sa svojim mislima; Za Vas je sve moguće i mozete da <em>BUDETE; IMATE I RADITE</em> šta god poželite; Vi selektivno birate misli koje mislite, emocije koje osećate, zdravlje koje imate, ljude koji vas okruzuju kao i sve ostalo oko vas; Vi ste kreator a ne puki posmatrač zato vam predlažem da preuzmete kontrolu u svoje ruke i počnete da živite život koji ste živeli samo u vašim najluđim snovima, zabavite se jer je to vaša istinska namera.</p>

        <p> <em>DOBRODOŠLI U VORTEX KREACIJE</em></p>
    </section>

    
    <div>
        <a href="#top">BACK TO TOP</a>
    </div>

</body>

</html>